body{
    font: 16px 'Raleway', sans-serif;
    color: #222222;
    background: #eeeeee;
    margin: 0;
    display: block;
    text-align: center;
}

div.block{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav.main_nav{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}

.main_nav ul{
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 0;
}

.main_nav li{
    float: left;
    width: 20%;
}

.main_nav a {
  color: #ffffff;
  text-decoration: none;
}

section{
    border-bottom: 13px solid #99cc00;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 8em;
}

section#top{
    background-image: url(../images/UW-dark.jpg);
}

section#top h1{
    font-weight: 100;
    font-size: 3em;
    color: #dddddd;
    letter-spacing: 0;
    margin: 1em 0;
    text-align: center;
}

section#top h2{
    font-weight: 100;
    font-size: 2em;
    color: #dddddd;
    letter-spacing: 0;
    margin: 1em 0;
    text-align: center;
}

section h2{
    text-align: left;
}

section h3{
    text-align: left;
}

section.text{
    border-bottom: none;
    padding-top: 2em;
    padding-bottom: 2em;
}

section.text p{
    text-align: left;
    font-size: 1.2em;
    color: #222222;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

section.footer{
    border-bottom: none;
    padding-top: 0em;
    padding-bottom: 0em;
}

section.footer p{
    font-size: 0.7em;
    text-align: center;
    color: #222222;
    display: block;
}

section#seattle{
    background-image: url(../images/Seattle.jpg);
}

section#fountain{
    background-image: url(../images/fountain.jpg);
}

section#fall-leaves{
    background-image: url(../images/fall-leaves.jpg);
}

section#uwcampus{
    background-image: url(../images/UW-dark.jpg);
    padding-top: 2em;
    padding-bottom: 2em;
}

::selection {
	background: #99cc00; /* Safari */
	}
::-moz-selection {
	background: #99cc00; /* Firefox */
}

a {
  color: #006622;
  text-decoration: none;
}

a:hover {
  color: #99cc00;
}

a.active {
  color: #99cc00;
}

img.logo {
   height: 80px;
}

div.bio img{
    margin-right: 1.0em;
    margin-bottom: 1.0em;
}