body{
    font: 16px 'Raleway', sans-serif;
    color: #dddddd;
    background: #FFF;
    margin: 0;
    display: block;
    text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ff4b5c;
}

nav.main_nav{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}

.main_nav ul{
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 0;
}

.main_nav li{
    float: left;
    width: 25%;
}

section#top{
    background-image: url(../images/UW-dark.jpg);
}

section{
    border-bottom: 13px solid #ff4b5c;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 8em;
}

#top h1{
    font-weight: 100;
    font-size: 3em;
    letter-spacing: 0;
    margin: 1em 0;
}

#top h2{
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 0;
    margin: 1em 0;
}