<!doctype html>
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <!-- Place favicon.ico
        in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{ content_url('/favicon.ico') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>
  {% endblock css %}

  {% block headjs %}
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">

  {% block main %}
    {% block nav %}
      {% from "macros.j2" import render_nav with context %}
      {{ render_nav(menu, 'main_nav') }}
    {% endblock nav %}
    {% filter markdown -%}
      {% block content %}
      {% endblock content %}
    {%- endfilter %}
  {% endblock main %}

  {% block footer %}
    <section class="footer">
     <p>Website created with <a href="http://hyde.github.io/">Hyde</a>.  Layout by Jake VanderPlas.</p>
    </section>
  {% endblock footer %}


  {% block js %}
  {% block jquery %}
  <script src="{{ media_url('js/jquery-1.11.0.min.js') }}"></script>
  {% endblock jquery %}

  {% block scripts %}
    <script defer="defer" src="{{ media_url('js/main.js') }}"></script>
    <script type="text/JavaScript">
      var currentID = null;
      function displayBio(bioID){
        var bioDiv = $("#" + bioID);
        var fullBio = $(".displayBio." + bioID);

        // first time around we move the content of the hidden bio div to
        // the correctly-placed destination div
        if (fullBio.length == 0){
          $(bioDiv).parent().parent().append("<div class='block displayBio " + bioID + "' style='display:none;'></div>");
          fullBio = $(".displayBio." + bioID);
          fullBio.html(bioDiv.children(".fullBio").html());
          bioDiv.children(".fullBio").remove();
        }
        if(currentID == bioID){
          // clicking on the highlighted picture: hide bio & remove highlight
          $(".bio").children().animate({opacity:1.0}, 200);
          $(".displayBio").hide(200);
          currentID = null;
        }else{
          // clicking on a non-highlighted picture: switch bios
          if(currentID !== null){
            $(".displayBio." + currentID).hide(200);
          }
          bioDiv.children().animate({opacity:1.0}, 200);
          $(".bio").not(bioDiv).children().animate({opacity:0.3}, 200);
          fullBio.show(200);
          currentID = bioID;
        }
      }
    </script>
  {% endblock scripts %}
  {% endblock js %}
</body>
</html>
