{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
    <ul>
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% elif item.type == 'node' -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% set classes = ['button'] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li>
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ "#" + item.url if item.type=="onpage" else content_url(item.url) if item.type=="page" else item.url }}">
                {{ item.name }}
            </a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{%- endif %}
{%- endmacro %}

{% macro gen_bio(img, name, twitter, github, bio) -%}
   <div class="bio">
     <img src="{{ media_url(img) }}" class="biopic" align="left">
     <p><b>{{ name }}</b>
     <a href="http://twitter.com/{{ twitter }}">
       <img src="{{ media_url("images/twitter-black.png") }}" class="icon">
     </a>
     <a href="http://github.com/{{ github }}">
       <img src="{{ media_url("images/github-black.png") }}" class="icon">
     </a></p>
     {{ bio }}
   </div>
   <hr>
{%- endmacro %}